* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #1580aa;
}

header {
    background-color: rgb(230, 118, 151);
    padding: 20px;
}   

header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-direction: row;
    align-items: center;
    font-weight: 600px;
    font-size: 1.3rem;
}

.signs a {
    text-decoration: none;
}

/*
footer {
    background-color: rgb(230, 118, 151);
    position: fixed;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
